<?xml version="1.0"?>
<robot name="crx30ia_robotiq" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Include Macros -->
  <xacro:include filename="$(find fanuc_crx_description)/urdf/crx30ia_urdf_macro.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

  <!-- World link -->
  <link name="world" />

  <!-- EE link (connector between robot and gripper) -->
  <link name="ee_link" />

  <!-- Instantiate Robot -->
  <xacro:crx30ia parent="world" child="ee_link" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:crx30ia>

  <!-- Instantiate Gripper -->
  <xacro:robotiq_gripper 
    name="robotiq_gripper" 
    prefix="" 
    parent="ee_link" 
    include_ros2_control="true"
    use_fake_hardware="true">
    <origin xyz="0 0 0" rpy="1.5708 0 1.5708" />
  </xacro:robotiq_gripper>
</robot>
