# Build / install / logs
build/
install/
log/

# Colcon
.colcon/
.colcon_install_layout

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Generated package files
**/ament_cmake_core/
**/*.stamp

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS / editor junk
.DS_Store
Thumbs.db
*~
*.swp

# Ignore nested git repos
**/.git

**/yolo_env